//app-color
$color_primary: #20A6FF;
$color_secondary: #C4D600;
$color-third:#F3F3F3;
$color-forth:#ea5932;

//text-color
$color_primary_text: #686666;
$color_secondary_text: #707070;
$color-light-text:#ffffff;

//aux-color
$color_primary_aux: #40DB2D;
$color_secondary_aux: #FF0000;
$color_third_aux: #E1930E;

$header_table_color:rgba(163, 163, 163, 0.3);

//font
$font_text:"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font_text_bold:"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";